
<table>
    <tr>
        <th>Manufacturer Name</th>
        <th>{{manufacturerName}}</th>
    </tr>
    <tr>
        <th>Variant Name</th>
        <th>{{variantName}}</th>
    </tr>
</table>
<h3 class="header">Standard Features</h3>
<table>
    <tr>
        <td>James Bond</td>
        <td>{{specifications.mileage}}</td>
    </tr>
    <tr>
        <td>Fuel Type</td>
        <td>{{specifications.fuelType}}</td>
    </tr>
    <tr>
        <td>Engine Displacement</td>
        <td>{{specifications.engineDisplacement}}</td>
    </tr>
    <tr>
        <td>Seating Capacity</td>
        <td>{{specifications.seatingCapacity}}</td>
    </tr>
    <tr>
        <td>Transmission Type</td>
        <td>{{specifications.transmissionType}}</td>
    </tr>
    <tr>
        <td>Boot Space</td>
        <td>{{specifications.bootSpace}}</td>
    </tr>
    <tr>
        <td>Fuel Tank Capacity</td>
        <td>{{specifications.fuelTankCapacity}}</td>
    </tr>
    <tr>
        <td>Service Cost (avg of 5 years)</td>
        <td>{{specifications.serviceCost}}</td>
    </tr>
    </table>
<hr><hr>
<h3 class="header">Interior Features</h3>
<table>
    <tr>
        <td>Leather Seats</td>
        <td>{{interiors.leatherSeats}}</td>
    </tr>
    <tr>
        <td>Leather Steering Wheel</td>
        <td>{{interiors.leatherSteeringWheel}}</td>
    </tr>
    <tr>
        <td>Digital Meter</td>
        <td>{{interiors.digitalMeter}}</td>
    </tr>
    <tr>
        <td>Outside Temperature Display</td>
        <td>{{interiors.outsideTemperatureDisplay}}</td>
    </tr>
    <tr>
        <td>Height Adjustable DriverSeat</td>
        <td>{{interiors.heightAdjustableDriverSeat}}</td>
    </tr>
    <tr>
        <td>Additional Features</td>
        <td>{{interiors.additionalFeatures}}</td>
    </tr>
</table>
<hr><hr>
<h3 class="header">Exterior Features</h3>
    <tr>
        <td>Fog Lights</td>
        <td>{{exteriors.fogLights}}</td>
    </tr>
    <tr>
        <td>Power Adjustable Mirror</td>
        <td>{{exteriors.powerAdjustableMirror}}</td>
    </tr>
    <tr>
        <td>Rain Sensing Wiper</td>
        <td>{{exteriors.rainSensingWiper}}</td>
    </tr>
    <tr>
        <td>Wheel Covers</td>
        <td>{{exteriors.wheelCovers}}</td>
    </tr>
    <tr>
        <td>Alloy Wheels</td>
        <td>{{exteriors.alloyWheels}}</td>
    </tr>
    <tr>
        <td>Sun Roof</td>
        <td>{{exteriors.sunRoof}}</td>
    </tr>
    <tr>
        <td>Tyre Size</td>
        <td>{{exteriors.tyreSize}}</td>
    </tr>
    <tr>
        <td>Tyre Type</td>
        <td>{{exteriors.tyreType}}</td>
    </tr>
    <tr>
        <td>Additional Features</td>
        <td>{{exteriors.additionalFeatures}}</td>
    </tr>
<hr><hr>