@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background: #383933 url(../../assets/images/bg.jpg) repeat-y center 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 25px;
  padding-bottom: 25px;
  height: auto;
  font-family: "Numans", sans-serif;
}

.container {
  height: fit-content;
  align-content: center;
}

.card {
  color: bisque;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

p {
  padding-left: 220px;
  color: red;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  margin-right: 5%;
  width: 160px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 150px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

table,
th,
td {
  border: 1px solid black;
  border-color: whitesmoke;
}

table {
  width: auto;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
}

th,
td {
  padding: 15px;
}

th {
  color: black;
  background-color: #ffc312;
}