<h3 class="header">Orders List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Created On</th>
            <th>Order Comments</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.orderId }}</td>
            <td>{{ order.createdOn.split('T')[0] }}</td>
            <td>{{ order.orderComments }}</td>
            <td>
                <span *ngIf="order.orderState == 'PLACED'" class="badge badge-primary">PLACED</span>
                <span *ngIf="order.orderState == 'DISPATCHED'" class="badge badge-warning">DISPATCHED</span>
                <span *ngIf="order.orderState == 'DILIVERED'" class="badge badge-success">DILIVERED</span>
                <span *ngIf="order.orderState == 'CANCELLED'" class="badge badge-danger">CANCELLED</span>
            </td>
            <td>
                <button class="button button-primary">Order Details</button>
            </td>
        </tr>
    </tbody>
</table>