<h3 class="header">Vehicles List</h3>
<button (click)="onAdd()" style="margin-bottom: 20px;" class="btn btn-info float-right">Add</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>Segment</th>
            <th>Manufacturer</th>
            <th>Variant</th>
            <th>Unit Price</th>
            <th style="width: 140px">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles; let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ vehicle.segmentName }}</td>
            <td>{{ vehicle.manufacturerName }}</td>
            <td>{{ vehicle.variantName }}</td>
            <td> ₹ {{ vehicle.unitPrice }}</td>
            <td>
                <button (click)="onEdit(vehicle)" class="btn btn-sm btn-warning">Edit</button>
                <button class="btn btn-sm btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage" placement="left" (confirm)="onDelete(vehicle)"
                    (cancel)="cancelClicked = true" style="margin-left: 10px;">delete</button>
            </td>
        </tr>
    </tbody>
</table>