<div class="modal-header">
    <h3>Add Vehicle</h3>
</div>
<div class="modal-body">
    <div class="form">
        <div class="form-group">
            <label>Segment Name</label>
            <select #select (change)='onChangeSelect(select.value)' [(ngModel)]="segmentName" class="form-control">
                <option [value]="segment.segmentName" *ngFor="let segment of segments">{{segment.segmentName}}</option>
            </select>
        </div>
    </div>
    <div class="form">
        <div class="form-group">
            <label>Manufacturer Name</label>
            <select [(ngModel)]="manufacturerName" class="form-control">
                <option [value]="manufacturer.manufacturerName" *ngFor="let manufacturer of manufacturers">
                    {{manufacturer.manufacturerName}}</option>
            </select>
        </div>
    </div>
    <div class="form">
        <div class="form-group">
            <label>Variant Name</label>
            <input [(ngModel)]="variantName" type="text" class="form-control">
        </div>
    </div>
    <div class="form">
        <div class="form-group">
            <label>Unit Price</label>
            <input [(ngModel)]="unitPrice" type="number" class="form-control">
        </div>
    </div>
    <div class="form">
        <div class="form-group">
            <label>Select Vehicle Image</label>
            <input (change)="onImageSelect($event)" type="file" class="form-control" accept="image/*">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button (click)="onAdd()" class="btn btn-success">Add Vehicle</button>
    <button (click)="onCancel()" class="btn btn-danger float-right">Cancel</button>
</div>