<h3 class="header">Users List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>Company's Name</th>
            <th>Company's Address</th>
            <th>Email Id</th>
            <th>username</th>
            <th>Contact No.</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ user.companyName }}</td>
            <td>{{ user.companyAddress }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.contactNo }}</td>
            <td>{{ user.status}}</td>
        </tr>
    </tbody>
</table>