<!-- Content -->
<div id="content">
  <!-- Sidebar -->
  <div id="sidebar">
    <!-- Box Latest Reviews -->
    <div class="box">
      <h2>Latest Reviews</h2>
      <ul>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/Thar.jpg" alt=""
          /></a>
          <div class="info">
            <h5><a href="#">Mahindra Thar</a></h5>
            <p>
              Super performance, high-performance diesel engine, good looking,
              good music system, and comfortable seats with the
              height-adjustable driver seat.
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/X7.jpg" alt=""
          /></a>
          <div class="info">
            <h5><a href="#">BMW X7</a></h5>
            <p>
              Good vehicle and great comfort with all the features included.
              it's a great car so anyone who is interested can buy it.
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/Altroz.jpg" alt=""
          /></a>
          <div class="info">
            <h5><a href="#">Tata Altroz</a></h5>
            <p>
              All Rounder It is a beast. A good looking, comfortable, and good
              performance car.
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/Alto.jpg" alt=""
          /></a>
          <div class="info">
            <h5><a href="#">Maruti Alto 800</a></h5>
            <p>
              My First Car. Best in the class. An entry-level hatchback. No
              other competitor of this level matches its performance. Very
              affordable car.
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/Fortuner.jpg" alt=""
          /></a>
          <div class="info">
            <h5><a href="#">Toyota Fortuner</a></h5>
            <p>
              Everything Better. A power full car in the segment. It is an
              amazing SUV car in India..
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
      </ul>

      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Box Latest Reviews -->
    <!-- Box Latest Posts -->
    <div class="box">
      <h2>Latest Posts</h2>
      <ul>
        <li>
          <h5>
            <a href="#"
              >Maruti Alto emerges as India's bestselling car for 16th year in a
              row</a
            >
          </h5>
          <p>
            Alto's nearest rival this year was the Swift, which was less than
            3,000 units behind it but also suffered a 16 per cent drop in sales;
            At third position was the company's premium hatchback Baleno.
          </p>
        </li>
        <li>
          <h5>
            <a href="#">Toyota confirms more POWERFUL engine for Fortuner</a>
          </h5>
          <p>
            Toyota has also just confirmed to power output and the torque output
            of the new Fortuner through a post on their Facebook. The Fortuner
            Legender will be producing 204 PS of max power and a peak torque
            output of 500 Nm.
          </p>
        </li>
        <li>
          <h5><a href="#">Hyundai to stop developing diesel engines</a></h5>
          <p>
            Hyundai has decided to dump diesel engines for its cars. The
            automaker has decided to stop developing the next generation of
            diesel engines, effectively indicating that the diesel engine is on
            its way out from Hyundai cars.
          </p>
        </li>
        <li>
          <h5><a href="#">BMW Group India delivers 6,604 cars in 2020</a></h5>
          <p>
            BMW Group India has demonstrated resilience and determination in a
            tough environment full of new challenges. BMW Group India has
            delivered 6,604 units of BMW and MINI cars in 2020.
          </p>
        </li>
        <li>
          <h5>
            <a href="#"
              >Tata Altroz iTurbo premium hatch offers 7 BEST-in-segment
              features</a
            >
          </h5>
          <p>
            Tata has revealed all the details and the specifications of the
            vehicle. The Altroz iTurbo will offer drive modes that are unique.
            The turbocharged petrol variant-powered Altroz will offer City and
            Sport drive mode. It is the most powerful variant in the segment
          </p>
        </li>
      </ul>
      <a href="https://carbuzz.com/news" class="up">See more</a>
      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Box Latest Posts -->
  </div>
  <!-- End Sidebar -->
  <!-- Main -->
  <div id="main">
    <!-- Top Image -->
    <ul class="navigate">
      <li class="active"><a href="#"></a></li>
    </ul>
    <div class="transparent-frame">
      <div class="frame">&nbsp;</div>
      <img src="../../../assets/images/sls.jpg" alt="" />
    </div>
    <div class="cl">&nbsp;</div>
    <!-- Box -->
    <div class="box">
      <h2>Gallery</h2>
      <ul class="line">
        <li>
          <a class="frm" href="#"
            ><img src="../../../assets/images/Tata_Altroz.jpg" alt=""
          /></a>
          <a href="#">Tata Altroz</a>
        </li>
        <li>
          <a class="frm" href="#"
            ><img src="../../../assets/images/Toyota Fortuner.jpg" alt=""
          /></a>
          <a href="#">Toyota Fortuner</a>
        </li>
        <li>
          <a class="frm" href="#"
            ><img src="../../../assets/images/BMW_X7.jpg" alt=""
          /></a>
          <a href="#">BMW X7</a>
        </li>
      </ul>
      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Box -->
    <!-- Box -->
    <div class="box">
      <h2>Editor's Pick</h2>
      <ul>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/Tata_Altroz.jpg" alt=""
          /></a>
          <div class="info">
            <h4><a href="#">Tata_Altroz</a></h4>
            <p>
              Tata Altroz is a 5 seater Hatchback available in a price range of
              Rs. 5.44 - 8.95 Lakh*. It is available in 11 variants, 2 engine
              options that are BS6 compliant and a single Manual transmission.
              space of 345 Liters. The Altroz is available in 5 colours.
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/Toyota Fortuner.jpg" alt=""
          /></a>
          <div class="info">
            <h4><a href="#">Toyota Fortuner</a></h4>
            <p>
              Toyota Fortuner is a 7 seater SUV available in a price range of
              Rs. 29.98 - 37.58 Lakh*. It is available in 7 variants, 2 engine
              options that are BS6 compliant and 2 transmission options: Manual
              & Automatic. The Fortuner is available in 8 colours.
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/BMW_X7.jpg" alt=""
          /></a>
          <div class="info">
            <h4><a href="#">BMW X7</a></h4>
            <p>
              BMW X7 is a 7 seater SUV available in a price range of Rs. 93.00
              Lakh - 1.65 Cr*. It is available in 4 variants, 2 engine options
              that are BS6 compliant and a single Automatic transmission. The X7
              is available in 6 colours.
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        <li>
          <a href="#" class="image"
            ><img src="../../../assets/images/Mahindra Thar.jpg" alt=""
          /></a>
          <div class="info">
            <h4><a href="#">Mahindra Thar</a></h4>
            <p>
              Mahindra Thar is a 4 seater SUV available in a price range of Rs.
              12.10 - 14.15 Lakh*. It is available in 10 variants, 2 engine
              options that are BS6 compliant and 2 transmission options: Manual
              & Automatic. The Thar is available in 7 colours.
            </p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
      </ul>
      <a href="#" class="up">See more</a>
      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Box -->
  </div>
  <!-- End Main -->
  <div class="cl">&nbsp;</div>
</div>
<!-- End Content -->
